body{
    font-family: 'Mouse Memoirs', sans-serif;
font-family: 'Tiro Gurmukhi', serif;
margin: 0px;
}
.header{
    width:100%;
    height:150px;
    background-color: gray;
}
.left{
    
}
.right{

}
